<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TamaOd Home</title>
    <link rel="icon" type="image/x-icon" href="ui/static/images/favicon.ico">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>

<body>
    <div class="container">
        <h1>Keep asking yourself, Tama Od?</h1>
        <h3>Tel Aviv is teeming with constuction! New building, renovations, and the most dreaded: Tama-38 projects. <br>
            Have you ever fled your apartmenet just because it was noisy? Gave up on your dream house just because it
            had a permit to renovate? <br> <br>
            TamaOd will let you find construction projects near your address
            and evaluate the likelehood for construction nearby. <br>
        </h3>
        <p class="intro-text">Enter an address below and click to analyze it.</p>

        <form id="addressForm">
            <label for="street">Street:</label>
            <select id="street-select" name="street">
                <option value="">Select a street</option>
                {% for street in streets %}
                <option value="{{ street }}">{{ street }}</option>
                {% endfor %}
            </select>
            <label for="houseNumber">House Number:</label>
            <input type="number" id="houseNumber" placeholder="Enter house number" required>
            <label for="radius">Radius in meters:</label>
            <input type="number" id="radius" placeholder="Enter radius" value="50">
            <button type="submit" class="btn-submit">Analyze Address</button>
        </form>


        <div id="city-map" class="city-map" style="height: 600px;"></div>

        <button id="toggleDevView" type="button" style="margin-top: 10px;">Expand Dev View</button>
        <div id="dev-response" class="dev-response-hidden">
            </div>

    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>